/*
body {
    width:90%;
    margin:0 10%;
}
*/
div.sudoku-grid {
    width: 720px;
    padding: 24px 0;
    margin: 0 auto;
}

div.control-buttons {
}


button {
      float: right;
      margin: 6px 9px;
      border: 2px solid #333;
      background: #005bae;
      /* background: transparent; */
      padding: 8px 12px;
      color: #FFF;
}

/*
button:hover {
    background: #FFF;
    color: #005bae;
    cursor: pointer;
}
*/

button:hover:enabled {
    background: #FFF;
    color: #005bae;
    cursor: pointer;
    border: 2px solid #005bae;
}

button:hover:disabled {
    background: #FFF;
    color: #005bae;
    border: 2px solid #005bae;
}

table {
    margin: 24px auto;
    border-collapse: collapse;
}

input {
    height: 36px;
    width: 36px;
    border-style: none;
    text-align: center;
}

tr {
    border: 1px solid #555;
}
tr:first-child {
    border-top: 3px solid;
}
tr:nth-child(3n) td {
    border-bottom: 3px solid;
}

td {
    border: 1px solid #555;
}
td:first-child {
    border-left: 3px solid;
}

td:nth-child(3n) {
    border-right: 3px solid;
}
/*
tr:first-child {
    border-top:solid;
}

tr:nth-child(3n) td {
    border-bottom:solid;
}
*/
