
body {
    width: 90%;
    margin: 0 auto;
}

div.container {
    display: flex;
    justify-content: space-around;
}

div.aside-manual {
    width: 420px;
}

div.sudoku-grid {
    /* border: 1px solid #082e54;
    width: 720px;
    margin: 0 auto; */
    padding: 48px 0 0 0;
    margin-bottom: 24px;
    /* height: 480px; */
    /* margin: 0 auto; */
}

div.control-buttons {
    /* border: 1px solid #082e54; */
    /* width: 720px;
    margin: 0 auto; */
    height: 60px;
    /* margin: 0 auto; */
}


button {
      /* float: right; */
      margin: 6px 9px 6px 0;
      border: 2px solid #082e54;
      background: #005bae;
      /* background: transparent; */
      padding: 8px 12px;
      color: #FFF;
}

/*
button:hover {
    background: #FFF;
    color: #005bae;
    cursor: pointer;
}
*/

button:hover:enabled {
    background: #FFF;
    color: #005bae;
    cursor: pointer;
    border: 2px solid #005bae;
}

button:hover:disabled {
    background: #FFF;
    color: #005bae;
    border: 2px solid #005bae;
}

table {
    /* margin: 24px auto; */
    /* float: right; */
    border-collapse: collapse;
    margin-bottom: 36px;
    width: 360px;
    height: 360px;
}

input {
    height: 40px;
    width: 40px;
    border-style: none;
    text-align: center;
}

tr {
    border: 1px solid #555;
}
tr:first-child {
    border-top: 3px solid;
}
tr:nth-child(3n) td {
    border-bottom: 3px solid;
}

td {
    border: 1px solid #555;
}
td:first-child {
    border-left: 3px solid;
}

td:nth-child(3n) {
    border-right: 3px solid;
}
/*
tr:first-child {
    border-top:solid;
}

tr:nth-child(3n) td {
    border-bottom:solid;
}
*/
